.container {
  display: flex;
  margin-top: calc( var(--horizontal-page-padding) + 4.2px );
  padding: 0 var(--horizontal-page-padding);
}

.form {
  width: 57.54%;
}

.form h1 {
  font-size: 4.2rem;
  line-height: 1.36;
  font-weight: bold;
  color: #343A40;
}

.form h1 strong {
  color: #F8E22B;
}

.inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 574px;
  margin-top: 14px;
}

.inputs input,
.inputs label,
.inputs option {
  font-size: 1.6rem;
  font-weight: 600;
  color: #343a40;
}

.form .submitButton {
  margin-top: 7.6px;
}
.cellphonearea{
  position: absolute;
  right: 4.3rem;
  top: 12rem;
}
.elipse{
  position: absolute;
  float: left;
  right: -3rem;
  top: -6rem;
  width: 62.92rem;
  height: 66.08rem;
}
.elipsebackground{
  position: absolute;
  float: left;
  right: 4rem;
  width: 52.19rem;
  height: 55.05rem;
  
}
.cellphone{
  position: absolute;
  float: left;
  right: 4rem;
  width: 52.19rem;
  height: 55.05rem;
}
@media(min-width:2000px){
  .cellphonearea{
    position: absolute;
    right: 4.3rem;
    top: 13rem;
  }
  .elipse{
    position: absolute;
    float: left;
    right: -3rem;
    top: -6rem;
    width: 37.75rem;
    height: 39.65rem;
  }
  .elipsebackground{
    position: absolute;
    float: left;
    right: 4rem;
    width: 31.31rem;
    height: 33.03rem;
    
  }
  .cellphone{
    position: absolute;
    float: left;
    right: 4rem;
    width: 31.31rem;
    height: 31.31rem;
  }
}
@media(max-width:1250px){
  .cellphonearea{
    position: absolute;
    right: 4.3rem;
    top: 18rem;
  }
  .elipse{
    position: absolute;
    float: left;
    right: -3rem;
    top: -6rem;
    width: 37.75rem;
    height: 39.65rem;
  }
  .elipsebackground{
    position: absolute;
    float: left;
    right: 4rem;
    width: 31.31rem;
    height: 33.03rem;
    
  }
  .cellphone{
    position: absolute;
    float: left;
    right: 4rem;
    width: 31.31rem;
    height: 31.31rem;
  }
}
@media(max-width:1100px){
  .cellphonearea{
    position: absolute;
    right: 4.3rem;
    top: 29rem;
  }
  .elipse{
    position: absolute;
    float: left;
    right: -3rem;
    top: -6rem;
    width: 62.92rem;
    height: 66.08rem;
  }
  .elipsebackground{
    position: absolute;
    float: left;
    right: 4rem;
    width: 52.19rem;
    height: 55.05rem;
    
  }
  .cellphone{
    position: absolute;
    float: left;
    right: 4rem;
    width: 52.19rem;
    height: 55.05rem;
  }
}
@media (max-width: 776px){
  .cellphonearea{
    display: none;
  }
  .form {
    width: 100%;
  }
  .container {
    display: flex;
    margin-top: calc( var(--horizontal-page-padding) + 4.2px );
    padding: 5%;
  }
}