@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*containers*/

.main{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76.1rem;
  background-color: #f3fdff;
}

.asideLeft{
  margin-top: 12.33rem;
  height: 58.54rem;
  width: 49.72rem;
}

.asideRight{
  margin-top: 12.33rem;
  margin-right: 12.43rem;
  height: 53.69rem;
  width: 52.4rem;
}

.franchiseFee{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  height: 20.55rem;
  width: 44.4rem;
}

.theNextOnesAreFree{
  height: 30.42rem;
  width: 100%;
  margin-top: 2.72rem;
}

.asideLeftText{
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  margin-top: 2.59rem;
  margin-right: 7.4rem;
}

/*Text*/

.off{
  font-family: 'Open Sans', sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 1.36;
  color: #000000;
}

.franchiseNumber{
  font-size: 20rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 2.85rem 0.5rem 0px 0px;
  color: #343a40;
  line-height: 0.75;
}

.remaining{
  font-size: 4.2rem;
  margin-top: 2.6rem;
  font-weight: bold;
  color: #343a40;
  line-height: 1.19;
}

.franchiseFeeText{
  font-size: 4.2rem;
  margin-left: 3.2rem;
  color: #343a40;
}

.price{
  margin-top: 4.75rem;
  font-size: 4.2rem;
  color: #343a40;
}
.conditionPrice{
  font-size: 2.2rem;
  align-self: center;
}
.freeRemaining{
  font-size: 4.2rem;
  line-height: 1.19;
  font-weight: normal;
  color: #343a40;
}
.theNextOnesAreFree p{
  margin-top: 3.27rem;
  line-height: 1.25;
  color: #747e88;
  margin-bottom: 4.75rem;
}

/*Images*/
.priceCoverLine{
  float: left;
  position: absolute;
  margin-top: 11rem;
  width: 44rem;
}
.asideImages{
  float: left;
  position: relative;
}

.cellPhone{
  position: absolute;
  float: left;
  position: absolute;
  top: 9rem;
  height: 30rem;
  z-index: 1;
  transform: rotate(-13deg);
}

.elipse{
  position: absolute;
  left: -29rem;
  height: 52rem;
}

.yellowFade {
  position: absolute;
  left: -7rem;
  height: 58rem;
}


@media(max-width:1266px){
  .asideRight{
    margin-right: 6.2rem;
  }
}
@media(max-width:700px){
  .main{
    flex-direction: column;
    height: 120rem;
  }
  .asideRight{
    align-self: flex-end;
    margin-bottom: 3rem;
  }
}
@media(max-width:460px){
  .priceCoverLine{
    position: absolute;
    margin-top: 6.4rem;
    align-self: center;
    width: 30rem;
  }
  .asideRight{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 6.33rem;
    align-self: center;
    height: 53.69rem;
    width: 80%;
    margin-right: 0;
  }
  .franchiseFeeText{
    font-size: 2.7rem;
    margin-left: 0;
    align-self: center;
  }
  .franchiseFee{
    align-self: center;
    margin-left: 0;
    width: 80%;
    height: auto;
  }

  .price{
    align-self: center;
    margin-top: 2.75rem;
    font-size: 2.7rem;
  }

  .conditionPrice{
    font-size: 1.5rem;
    align-self: center;
  }
  .main{
    height: 110rem;
  }
  .asideLeft{
    width: 100%;
    height: 48.54rem;
    margin-top: 0;
  }
  .asideImages{
    float: left;
    position: relative;
  }
  
  .cellPhone{
    position: absolute;
    float: left;
    position: absolute;
    top: 19rem;
    height: 20rem;
    z-index: 1;
    transform: rotate(-13deg);
  }
  
  .elipse{
    position: absolute;
    top: 13rem;
    left: -21rem;
    height: 36.4rem;
  }
  
  .yellowFade {
    position: absolute;
    top: 10rem;
    left: -7rem;
    height: 40.6rem;
  }
}