.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 82px;
}

.container p {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #747e88;
}

.title {
  margin-bottom: 61.8px;
  font-size: 4.2rem;
  font-weight: bold;
  color: #343a40;
}

.arrowIcon {
  width: 1.6em;
  height: auto;
}
